<table class="table table-striped">
  <tr><th align="left">Resource</th></tr>
  <%= table_row_resource_link("id") %>
  <%= table_row_property("exportsAs") %>
</table>
<table class="table table-striped">
  <tr><th align="left">Links</th></tr>
  <%= table_row_property("hasTransactionProvider") %>
  <%= table_row_resource_link("hasParent") %>
  <%= table_row_resource_link("hasMember") %>
  <%= table_row_resource_link("hasPart") %>
  <%= table_row_resource_link("proxyIn") %>
  <%= table_row_resource_link("proxyFor") %>
  <%= table_row_resource_link("first") %>
  <%= table_row_resource_link("prev") %>
  <%= table_row_resource_link("next") %>
  <%= table_row_resource_link("last") %>
  <%= table_row_resource_link("hasRelatedImage") %>
  <%= table_row_resource_link("hasRelatedMediaFragment") %>
  <%= table_row_resource_link("accessControl") %>
  <%= table_row_resource_link("accessTo") %>
  <%= table_row_resource_link("membershipResource") %>
  <%= table_row_property("hasFile") %>
</table>
<table class="table table-striped">
  <tr><th align="left">Properties</th></tr>
  <%= table_row_property("type") %>
  <%= table_row_property("agent") %>
  <%= table_row_property("created") %>
  <%= table_row_property("created_by") %>
  <%= table_row_property("lastModified") %>
  <%= table_row_property("lastModified_by") %>
  <%= table_row_property("mode") %>
  <%= table_row_property("writable") %>
</table>
<table class="table table-striped">
  <tr><th align="left">Children</th><th><%= @node["numberOfChildren"] %></th></tr>
  <% contains = [] %>
  <% contains.push *(@node["contains"]) %>
  <% contains.each_with_index do |v, i| %>
      <tr>
        <td><%= i %></td>
        <% model = @node["hasModel"] %>
        <% if model == "ActiveFedora::DirectContainer" %>
            <!--<td>binary</td>-->
            <td><%= v %> binary</td>
        <% else %>
            <% unless @node["hasParent"].nil? %>
                <% f = Fedora.rest(v) %>
                <% m = f["hasModel"] %>
                <!--<td><#%= m %></td>-->
                <!--<td><#%= link_to v, fedora_node_path(v.gsub('/','|')) %></td>-->
                <td><%= link_to v, fedora_node_path(v)%> <%= m %></td>
                <% case m %>
        <% when "ActiveFedora::Aggregation::Proxy" %>
                    <% p = f["proxyFor"] %>
                    <td><%= @node["insertedContentRelation"] %></td>
                    <td><%= (Fedora.rest(p))["hasModel"] %></td>
                    <!--<td><#%= link_to p, fedora_node_path(p.gsub('/','|')) %></td>-->
                    <td><%= link_to p, fedora_node_path(p) %></td>
                <% when "Hydra::AccessControls::Permission" %>
                    <% p = Fedora.rest(v) %>
                    <td>agent</td>
                    <td><%= p["agent"] %></td>
                    <td>mode</td>
                    <td><%= p["mode"]%></td>
                <% end %>
            <% else %>
                <!--<td>namespace</td>-->
                <!--<td><#%= link_to v, fedora_node_path(v.gsub('/','|')) %></td>-->
                <td><%= link_to v, fedora_node_path(v) %> namespace</td>
            <% end %>
        <% end %>
      </tr>
  <% end %>
</table>
