<p id="notice"><%= notice %></p>

<p>
  <strong>#inspect</strong>
  <%= @fedora.inspect %>
</p>

<p>
  <strong>#body</strong>
  <%= @fedora.body %>
</p>
<p>
  <strong>#headers</strong>
  <%= @fedora.headers %>
</p>
<p>
  <strong>#request</strong>
  <%= @fedora.request %>
</p>
<p>
  <strong>#response</strong>
  <%= @fedora.response %>
</p>

<p>
  <strong>#parsed_response</strong>
  <%= @fedora.parsed_response %>
</p>

