<p id="notice"><%= notice %></p>

<%= render partial: "fedora" %>

<table>
  <% @fedora.each do |key, value| %>
      <tr>
            <td><%= key %></td>
            <% if value.is_a?(Array) %>
              <% value.each do |e| %>
                <td><%= e %></td>
                    <% end %>
            <% elsif value.is_a?(Hash) %>
              <% value.each do |k, v| %>
                <td><%= k %> => <%= v %></td>
              <% end %>
            <% else %>
                <td><%= value %></td>
          <% end %>
      </tr>
  <% end %>
</table>


<p>
  <%= @fedora.inspect %>
</p>