<p id="notice"><%= notice %></p>

<h1>Fedora Resources</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Identifier</th>
      <th>Path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fedora_resources.each do |fedora_resource| %>
      <tr>
        <td><%= fedora_resource.name %></td>
        <td><%= fedora_resource.identifier %></td>
        <td><%= fedora_resource.path %></td>
        <td><%= link_to 'Show', fedora_resource %></td>
        <td><%= link_to 'Edit', edit_fedora_resource_path(fedora_resource) %></td>
        <td><%= link_to 'Destroy', fedora_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fedora Resource', new_fedora_resource_path %>
